
.portfoliowrapper
	max-width mw
	margin 0 auto
	margin-bottom 5em
	overflow hidden
.portfolio_2
	display block
	width 100%
.portfolio_2 img
	padding 5px
	display block
	float left
.portfolio
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap wrap
	justify-content space-between
	text-align center
	align-content space-between
.portfolio a:first-child,
.portfolio a:nth-child(2)
	flex-basis 50%
.portfolio a:nth-child(3)
	flex-basis 100%
.portfolio a
	padding 1em
	flex-basis 20%
.portfolio a img
	display block
	width 100%
.portfoliowrapper .moarbutton
	display block
	text-align center
	border 2px solid color_h1
	color color_h1
	font-size 2em
	padding 0.5em 0
	margin-top 1em
	transition background .3s
.portfoliowrapper .moarbutton:hover
	background color_h1
	color white
	