footer
	background url(../../images/bg.png) no-repeat center
	background-size cover
footer .wrapper
	max-width 1010px
	margin 0 auto
	padding 200px 0
footer .footerMenu
	width 33.333%
	float left
footer .footerMenu a
	color white
	line-height 2
	font-weight bold
footer .footerMenu a:hover
	text-decoration underline
footer .footerMenu .social
	margin-right 20px
footer .footerMenu .social img
	vertical-align middle
footer .contacts
	float left
footer .contacts .email,
footer .contacts .tel
	color white
	line-height 2
footer .contacts .email:hover,
footer .contacts .tel:hover
	text-decoration underline