
header
	max-width mw
	margin 0 auto
	display flex
	justify-content space-between
	padding 60px 0
header h1
	font-size 72px
	font-weight fw_300
	text-align center
	color color_h1
header .menu
	align-self center
	flex 1
	
header .left a
	margin-right 60px
	
header .right
	text-align right
	
header .right a
	margin-left 60px
	
header .left a, header .right a
	color color_first
	font-weight bold
	
header .left a, header .right a
	&:hover
		color color_second
		
header .logo
	display block
	flex 2