.how
	font-size fz_36
	max-width mw
	margin 0 auto
	margin-bottom 5em
	color color_first
.wrap
	border-right 2px solid color_h1
.title
	font-weight fw_900
	font-size 11vw
	margin-bottom 90px
	
.how .stepOne,
.how .stepTwo,
.how .stepThree
	font-weight fw_300
	margin-bottom 1em
	padding-left 5px
.how .stepOne b,
.how .stepTwo b,
.how .stepThree b
	font-weight fw_900
.how p
	font-weight fw_300
	margin-top 90px