.large
	position relative
	height 80vh
	background #fff url(../../images/largebg.jpg) no-repeat center
	background-size cover
.large h2
	text-align center
	font-size fz_30
	color white
	absolute left 0 right 0 bottom 2em
	text-shadow 1px 1px 2px black