.sometext
	max-width mw
	margin 75px auto
	font-size 1.4em

.sometext .basictext
	width 65%
	float left
	font-weight fw_300
.sometext .quote
	font-size fz_30
	color color_second
	font-weight bold
	border 1px solid color_second
	width 33%
	padding 40px
	margin 0 0 40px 2%
	float right
	overflow hidden