@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-ExtraLight.otf);
  font-weight: 200;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(source-sans-pro/SourceSansPro-Black.otf);
  font-weight: 900;
}