@media (max-width: 1280px)
	header
		padding-right 2em
		padding-left 2em
	header .left a
		margin-right 30px
	header .right a
		margin-left 30px
	.sometext
		padding 0 2em
	.boldtitle
		padding 0 2em
	.portfoliowrap
		padding 0 2em
	.how
		padding 0 36px
	.twocolumnstext
		padding 0 36px
		column-gap 140px
		font-size 20px

@media (max-width: 1024px)
	header
		flex-wrap wrap
	header .logo
		order 1
		flex-basis 100%
		padding-bottom 30px
	header .left
		order 2
		flex-basis 50%
		text-align right
	header .left a
		margin 0 15px
	header .right
		order 3
		flex-basis 50%
		text-align left
	header .right a
		margin 0 15px
	.large h2
		padding 0 2em
	.sometext
		font-size 1.1em
	.sometext .quote
		font-size 1.1em
		padding 1em
	.twocolumnstext
		column-gap 80px
	footer .wrapper
		padding 200px 2em

@media (max-width: 768px)
	body
		font-size 0.9em
	header .left a, header .right a
		font-size 1.2em
	.portfolio a
		padding 0.5em
	footer
		font-size 1rem
	footer .footerMenu
		width 50%
		float left
	footer .contacts
		width 50%
		float left
	.twocolumnstext
		font-size 1em
	.how
		font-size 24px
	.how .title
		font-size 13vw	

@media (max-width: 640px)
	.sometext, .boldtitle
		margin 30px auto
	.twocolumnstext
		column-gap 30px
@media (max-width: 480px)
		header
			padding-left 1em
			padding-right 1em
		header h1
			font-size 48px
		header .left,
		header .right
			flex-basis 100%
		header .left a,
		header .right a
			display block
			width 100%
			margin 0
			margin-bottom 1em
			text-align center
		.large h2
			font-size 24px
		.bolidtitle
			padding 0 1em
		.sometext
			padding 0 1em
		.sometext .basictext
			width 100%
			float none
			font-weight fw_300
		.sometext .quote
			width 100%
			padding 40px
			margin 0
			margin-top 1em
			float none
		.portfoliowrap
			padding 0 1em
		.portfolio a
			padding 0.2em
		.portfoliowrapper .moarbutton
			font-size 1rem
		.twocolumnstext
			font-size 1rem
			column-count 1
			column-gap 0
		.how
			font-size 1em
		.how .title
			font-size 18vw
		footer .wrapper
			padding 50px 2em 0 2em
		footer .wrapper .footerMenu,
		footer .wrapper .contacts
			width 100%
			float none
			margin-bottom 5em