*
	overflow auto
	box-sizing border-box
	padding 0
	margin 0
body
	font 18px Source Sans Pro, sans-serif
	background white
	color color_first
img
	max-width 100%
a
	text-decoration none
	transition color 0.3s
	outline none